
@{
    ViewBag.Title = "Hospitality";

}

<h2>Hospitality</h2>

<div class="container">
    <div>
        <img src="~/images/hospitality.png" height="350" width="950" />
    </div>

</div>
<br />

<div class="container">
    <div class="caption">
        <div class=" jumbotron">
            <p>
                The hospitality industry works closely with customers to provide a satisfying and unique experience. Employees within this industry typically offer services to meet people's preferences rather than their needs like in the health care industry. The main categories within the hospitality industry are travel, tourism and food and beverage.

                Businesses like bed and breakfasts, hotels, motels, restaurants and travel agencies typically belong to the hospitality industry.
            </p>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/greenfiedls-logo.png" />
        <h4>Greenfield Hotel and Catering Services Limited</h4>
        <div class=" panel">
            <p> </p>
            Greenfield Hotel and Catering Services Limited is a catering and hospitality outfit. We provide catering and hospitality services to organizations, cater for companies’ AGMs, industrial canteen and commercial outlet services, end of year parties, board meetings and individual functions at all special occasions.
            The company operates with a team of professionals who have vast knowledge in the catering and hospitality industry spanning over thirty years.
            Greenfield also supplies packed English or Nigerian meals to staff of companies on request as well as catering for a wide range of events and functions.            <p><a input type="submit" class="btn btn-default" href="~/Views/Category/Construction.cshtml">Learn more &raquo;</a></p>
        </div>


    </div>
    <div class="col-md-4">
        <img src="~/images/" />
        <h4>Lilygate</h4>
        <div class=" panel">
            <p>
                Stay at our hotel accommodation in Lagos
                An amazing experience located on the Lekki Peninsula, Victoria Island in Lagos state, south-west Nigeria.
                With easy access to Victoria Island and Ikoyi over the newly opened bridge, our hotel allows both business and leisure travellers to enjoy modern and luxurious facilities in a unique boutique ambiance.
            </p>
            <p><a input type="submit" class="btn btn-default" href="~/Views/Category/Construction.cshtml">Learn more &raquo;</a></p>

        </div>



    </div>
    <div class="col-md-4">
        <img src="~/images/logoClass.png" />
        <h4>CLASS Hospitality</h4>
        <div class=" panel">
            <p>
                TALENTED, DRIVEN, & PASSIONATE
                Our approach is unique because we actively engage our stakeholders and work with them to achieve shared goals.
                CLASS operates award winning hotels that provide superior results in guest satisfaction, Revpar, profitability, quality assurance and employee satisfaction. With a balanced, long term approach to driving results, we understand what it’s like to be an owner.
            </p>
            <p><a input type="submit" class="btn btn-default" href="~/Views/Category/Construction.cshtml">Learn more &raquo;</a></p>

        </div>


    </div>

</div>


