@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>About Zirconium</h3>

<p>According to a 2013 survey by businessnews.com.ng, it has been said that 65% of new businesses die within the first 3 years in Nigeria. Due to this finding, our aim is to help provide a solution that will help reduce the death rate among SMEs. We hope that our solution improves the relationship between businesses and individuals (B2B and B2C), attract investors and funding for small businesses, encourage collaboration and partnership between businesses, improve services and ensure accountability between the parties involved.</p>
